{% extends "admin/change_form.html" %}
{% load admin_urls %}

{% block object-tools %}
  {% if not is_popup %}
    <ul class="object-tools">
      {% if add %}
        {% url opts|admin_urlname:'changelist' as changelist_url %}
        <li>
          <a href="{{ changelist_url }}" class="deletelink">
            Delete existing {{ opts.verbose_name_plural }}
          </a>
        </li>
      {% endif %}
      {% if change %}
        {% block object-tools-items %}
          {{ block.super }}
        {% endblock %}
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
